:root {
  --primaryColor: #70e64c;
  --mainWhite: rgb(243, 243, 243);
  --offWhite: #e6e6e6;
  --mainBlack: rgb(27, 27, 27);
  --mainGrey: #d6d6d6;
  --darkGrey: #c2c2c2;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnPrimary{
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: 2px;
  color: var(--mainWhite);
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
}
.btnPrimary:hover{
  background-color: var(--mainWhite);
  color: var(--primaryColor);
  transition: var(--mainTransition);
}

